.portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio > h1 {
    font-size: 32px;
    font-weight: medium;
    letter-spacing: -1px;
}

.portfolio__stats {
    display: flex;
}

.portfolio__stats > p {
    padding: 5px;
}
